#main {
	margin-top: 2em;
	border: 5px solid #eeeeee;
}
#content {
	border: 1px solid #dddddd;
	overflow: hidden;
}
.concol{
	display: table-cell;
	border-left: 1px solid #dddddd;
	width: 720px;
}
.concol table {
font-size:95%;
}
#aside {
	float: left;
	width: 160px;
	margin-left: 0px;
	border-left: none;
}
#aside h3 {
	height: 40px;
	border: 5px solid #eeeeee;
	background: #e6e6e6 url(../img/header-bg.gif) repeat-x left top;
	color:#4d4d4d;
	text-align: center;
	margin: 0;
	margin-top:.5em;
}
#aside ul.nav {
	list-style-type: none;
}
#aside ul.nav > li {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #dddddd;
	width: 100%;
}
#aside ul.nav > li > a {
	color: #646464;
	background-color: #f6f6f6;
	display: block;
	height: 29px;
	line-height: 29px;
	padding: 0 20px;
	text-decoration: none;
	text-transform: capitalize;
	width: 120px;
	font-size: 95%;
}
#aside ul.nav > li > a:hover {
	background-color: #fdfcf6;
}
#aside ul.nav > li.current {
	background-color: #ffffff;
	position: relative;
	left: 1px;
}
#aside ul.nav > li.current > a {
	color: #c66653;	
	background-color: inherit;
}
a.actionbtn {
	display: block;
	background-color:#ddd;
	color: #337;
	height:100px;
	width: 40%;
	float:left;
	margin: 3em 1em;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	border: 3px solid #6e97d0;
	text-decoration: none;
}
a.actionbtn:hover {
	background-color: #aaa;
}
a.actionbtn span {
	position:relative;
	left:-10px;
	display: block;
	background: transparent url(../img/application.png) no-repeat scroll 0 0;
	padding: 20px 0px 100px 118px;
}
a.hire span {
	background-image: url(../img/hire.png);
}
a.stats span {
	background-image: url(../img/stats.png);
}
a.security span {
	background-image: url(../img/security.png);
}
a.calendar span {
	background-image: url(../img/calendar.png);
}
a.terminate span {
	background-image: url(../img/x.png);
}
a.actionbtn span strong {
	display: block;
	font-weight: bold;
	font-size: 14px;
}
a.actionbtn span em{
	font-size: 12px;
	color: #777;
}

a.button {
	font-weight: bold;
	background-color: #633;
	color: #fff;
	text-transform: capitalize;
	text-decoration: none;
	float: right;
	display: block;
	cursor: pointer;
	width: auto;
	height: 2em;
	padding-bottom: 3px;
	border: solid 2px #333;
	-moz-border-radius: 4px 4px;
	-webkit-border-radius: 4px 4px;
	-khtml-border-radius: 4px 4px;
	border-radius: 4px 4px;
	margin: 2em 1em;
	padding: 0 1em;
}
a.button:hover {
	background-color: #369;
	color: #fff;
	border: 2px solid #633;
}

.important {
	background-color: #aaaae0;
	border-bottom: medium solid #600;
	border-top: medium solid #600;
	margin: 2em auto;
	color:#000;
}
.important strong {
	text-transform: uppercase;
	font-size:150%;
}
.important legend {
	margin-top: -0.5em;
}
.update {
	background-color: #ccf;
}
.update p {
	font-size: 1em;
	text-align: center;
	font-weight: bold;
	color:  #009;
}

/*
 * =APPLICATION
 */
#application-display {
	font-size: 90%;
}
#application-display p,#application-display h3 {
	clear: both;
	margin: 0;
}
#application-display p span {
	float: left;
	display: block;
	padding: 0 2em;
	margin-bottom: 5px;
}
#application-display p span.field {
	font-weight: bold;
	text-transform: uppercase;
	width: 25%;
	background-color: #ccc;
}

#application-display p span.value {
	border-bottom: 1px solid black;
	width: 62%;
}
#application-display p.check-box {
	clear: none;
}
#application-display p.check-box span.field {
	margin-right:-2em;
}
#application-display p.check-box span.value {
	border: 1px solid black;
	width: 1em;
	margin: 0 3px;
	background-color:#fff;
	color: #000;
	font-weight: bold;
	padding: 0 0.5em;
}
p#application-id, p#expiration {
	float: left;
	clear: none;
	width: 50%;
	margin: 0;
}
p#application-id span, p#expiration span {
	width: auto;
	padding: 0 10px;
}

#application-display p.work-reference {
	border: 1px solid #eee;
}
#application-display p.work-reference span {
	clear: none;
	width: auto;
}

#application-display p.work-reference span.notes {
	clear: both;
	width: 95%;
	padding: 0;
	border: 0;
	min-height: 5em;
}

#application-display p.work-reference span.field {
	min-height: 1em;
}

#references {
	margin-bottom: 5em;
	clear: both;
}
#application-display h4 {
	margin: 0;
	text-decoration: underline;
	text-align: right;
	padding-right: 3em;
}
#skillset li {
	float: left;
	width: 20%;
}
#skillset-search ul > li:hover {
	background-color: #ddd;
	color: inherit;
}
#skillset-search ul > li {
	list-style-type: none;
	margin: 0 0 0 4px;
	float: left;
}
#skillset-search span.tagcount {
	color:#777;
}
#skillset-search span.tagcount:before {
	content:"(";
}
#skillset-search span.tagcount:after {
	content:")";
}
#list-application table {
width:80%;
float:left;
}
#list-application #skillset-search {
width:20%;
float:left;
}
#list-application #skillset-search ul > li {
text-align:left;
	list-style-type: disc;
	display: block;
	float: none;

}
#list-application #skillset-search ul > li > a {
	font-size: 1em !important;
}
/*
 * =SKILLS
 */
#skills-tags {
	margin: 1em auto;
	clear: both;
}
#skills-tags span {
	cursor: pointer;	
	display: block;
	float: left;
	text-align: left;
	width: 120px;
	margin-left:10px;
	margin-top: .5em;
	color: #d30;
}
#skills-tags span:hover {
	background-color: #ccc;
	text-decoration: underline;
}
/* class for toggle of the skill set list */
#skills-tags span.chosen {
	color:#999;
}

#gateway-page > div#seas-calendar > div {
	display: none;
}
/*
 * =NEWAPPLICANT
 */
#new-applicant {
clear:both;
}

#new-applicant ol, #new-applicant ol > li > a {
	height: 60px;
	display: block;
	cursor: default;
}
#new-applicant ol > li > a {
	position:relative;
	text-decoration:none;
	font-weight: bold;
	left: 51px;
	color: #333;
	padding-top: 18px;
	padding-right: 51px;
	z-index:0;
	background: transparent url(../img/arrow-tip.png) no-repeat top right;
}
#new-applicant ol > li {
	list-style-type: none;
	float: left;
	margin-left:5px;
	background: transparent url(../img/arrow-bg.png) repeat-x 0 0;
}
#new-applicant ol > li.current {
	background-image: url(../img/arrow-bg-hl.png);
}
#new-applicant ol > li.current > a {
	background-image: url(../img/arrow-tip-hl.png);
	cursor:auto;
}
#new-applicant ol > li.done > a {
	font-weight: normal;
	font-style: italic;
	cursor: pointer;
}
#new-applicant h4 {
	text-indent: -37500px;
	width: 375px;
	height: 51px;
}
#step-one {
	background: transparent url(../img/steps.png) no-repeat top left;
}
#step-two {
	background: transparent url(../img/steps.png) no-repeat 0px -50px ;
}
#step-three {
	background: transparent url(../img/steps.png) no-repeat bottom left;
}
#new-applicant span {
	display: none;
	color: #f00;
	background-color: transparent;
}
#new-applicant .done span {
	display: inline;
}

/*
 * =PIPELIST
 */
.pipelist {
	margin-bottom: 1em;
	overflow: hidden;
	width: auto;
	margin-top: -3em;
}

.pipelist ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pipelist li {
	border-right: 1px solid #000;
	float: right;
	line-height: 1.1em;
	font-size: 1em;
	margin: 0 -.5em 0 .5em;
	padding: 0 .5em;
}
/*
 * =DISCLAIMER
 */
.disclaimer {
	float: right;
	width: 45%;
	border: 2px outset black;
	background-color: #fcfcfc;
	color: #000;
	margin: 1em;
}
.disclaimer h5 {
	width: 100%;
	background-color: #eeeeee;
	color: #000;
	text-align: center;
	border-bottom: 1px solid #fff;
}

.sort, .sort input{
	width: 2em;
}
/*
 * =TOOLTIPS
 */
.tip {
	background: transparent url(../img/help.png) no-repeat 0 0;
	width: 30px;
	height: 30px;
	float:right;
}
.tip > *, .hide {
	display:none;
}
/*
 * SEE http://www.filamentgroup.com/lab/image_free_css_tooltip_pointers_a_use_for_polygonal_css/
 */
.fg-tooltip {
	border-width:2px !important;
	padding:0.8em;
	position:absolute;
	width:12em;
	z-index:9999;
}
.fg-tooltip .fg-tooltip-pointer-down, .fg-tooltip .fg-tooltip-pointer-down-inner {
	background:transparent none repeat scroll 0 0;
	border-bottom-width:0;
	height:0;
	position:absolute;
	width:0;
}
.fg-tooltip .fg-tooltip-pointer-down {
	border-left:7px dotted transparent;
	border-right:7px dotted transparent;
	border-top-width:14px;
	bottom:-14px;
	left:50%;
	margin-left:-7px;
	right:auto;
}
.fg-tooltip .fg-tooltip-pointer-down-inner {
	border-left:5px dotted transparent;
	border-right:5px dotted transparent;
	border-top:10px solid #FFFFFF;
	bottom:auto;
	left:-5px;
	top:-14px;
}
.fg-tooltip-left .fg-tooltip-pointer-down {
	border-left:0 none;
	border-right:17px dotted transparent;
	border-top-width:14px;
	bottom:-14px;
	left:1em;
	margin:0;
	right:auto;
}
.fg-tooltip-left .fg-tooltip-pointer-down-inner {
	border-left:0 none;
	border-right:12px dotted transparent;
	border-top:10px solid #FFFFFF;
	bottom:auto;
	left:2px;
	top:-14px;
}
.fg-tooltip-right .fg-tooltip-pointer-down {
	border-left:17px dotted transparent;
	border-right:0 none;
	border-top-width:14px;
	bottom:-14px;
	left:auto;
	margin:0;
	right:1em;
}
.fg-tooltip-right .fg-tooltip-pointer-down-inner {
	border-left:12px dotted transparent;
	border-right:0 none;
	border-top:10px solid #FFFFFF;
	bottom:auto;
	left:auto;
	right:2px;
	top:-14px;
}

/*
 * =AWESOME BUTTON
 * http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba
 */
.red.awesome, .red.awesome:visited {
	background-color:#E33100;
}
.large.awesome, .large.awesome:visited {
	font-size:14px;
padding:8px 14px 9px;
}
.awesome, .awesome:visited, .medium.awesome, .medium.awesome:visited {
	font-size:13px;
	font-weight:bold;
	line-height:1;
	text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
}
.awesome, .awesome:visited {
	-moz-border-radius:5px 5px 5px 5px;
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
	background:repeat-x scroll 0 0 #222222;
	border-bottom:1px solid rgba(0, 0, 0, 0.25);
	color:#FFFFFF;
	cursor:pointer;
	display:inline-block;
	padding:5px 10px 6px;
	position:relative;
	text-decoration:none;
	text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
}

