body {
	color: #646464;
	text-align: left;
	width: 798px;
	font-size: 85%;
	margin: 0 auto;
}
p {
	margin-left: 1em;
	margin-right: 5px;
}
a:link {
	color: #904848;
	background-color: inherit;
	text-decoration: underline;
}
a:visited {
	color: #733a5a;
	background-color: inherit;
	text-decoration: underline;
}
a:hover {
	color: #2b5656;
	background-color: inherit;
	text-decoration: none;
}
a:active { 
	color: #708643;
	background-color: inherit;
	text-decoration: none;
}
a[rel*="external"]  {
	padding-right: 18px;
	background: transparent url(../img/icon_popup.gif) no-repeat center right;
}
h1,h2,h3,h4,h5,h6,legend {
	font-family: Georgia, Verdana, Helvetica, times, "Times New Roman", times-roman, serif;
	color: #333;
}
dl { border-bottom: 1px solid #999; margin-left: 1em; }

dt
{
width: 100%;
padding: .5em;
float: left;
margin: 0;
clear:left;
border-top: 1px solid #999;
font-weight: bold;
}

dd
{
margin-left: 40px;
padding: .5em;
}

/*
 * =MESSAGES
 */
#messages p {
	background: transparent none scroll no-repeat 15px 50%;
	font-size: 1.5em;
	text-align: left;
	padding: 5px 20px 5px 70px;
	margin-left: 0;
	margin-right: 0;
}
#messages p.error {
	background-color: #fea;
	background-image: url(../img/error.png);
	border-top: 2px solid #f00;
	border-bottom: 2px solid #f00;
}
#messages p.alert {
	background-color: #fff6bf;
	background-image: url(../img/warning.png);
	border-top: 2px solid #ffd324;
	border-bottom: 2px solid #ffd324;
}
#messages p.notice {
	background-color: #F8FAFC;
	background-image: url(../img/info.png);
	border-bottom:2px solid #B5D4FE;
	border-top:2px solid #B5D4FE;
}
#messages p.question {
	background-color: #eee;
	background-image: url(../img/question.png);
	border-bottom:2px solid #fffefe;
	border-top:2px solid #fffefe;
}
.clear {
	clear: both;
	float: none;
	display: block;
}
.pointer {
	cursor: pointer;
}
.alert {
	background-color: #fff6bf;
	border: 2px solid #ffd324;
	color: #a07;
}
