#submit-profile form:before, 
#submit-application form:before, 
#edit-profile form:before, 
#edit-application form:before {
	content:"* = required";
	color: #ff0000;
}
fieldset {
	margin: 1em;
	border: 1px inset #ddd;
}
legend {
	clear: both;
	color: #5494af;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	margin: 1em;
	text-transform: capitalize;
}
label {
	display: block;
	clear: left;
	width: 310px;
	font-size: 12px;
	line-height: 14px;
	padding-bottom: 3px;
	margin-top: 1em;
}
label:after {
	content:": ";
}
label.inline,select.inline {
	display: inline !important;
	float: none !important;
	width: auto;
}
label.inline:after {
	content:"";
}
label.required:before {
	content:"*";
	color: #ff0000;
}
select {
	display: block;
}
textarea {
	margin-top: 3px;
	display: block;
}
input:focus, textarea:focus {
	border: #6e97d0 solid 2px;
	background-color: #fdfcf6;
}
input[type=submit]{
	font-weight: bold;
	background-color: #949494;
	text-transform: capitalize;
	text-align: center;
	display: block;
	cursor: pointer;
	color: #f6f6f6;
	width: auto;
	height: 2em;
	padding-bottom: 3px;
	border: outset 2px #657c9c;
	-moz-border-radius: 4px 4px;
	-webkit-border-radius: 4px 4px;
	-khtml-border-radius: 4px 4px;
	border-radius: 4px 4px;
	margin: 1em;
}
input[type=submit]:hover {
	background-color: #ccc;
	border: solid 2px #369;
	color: #333;
}
input[type=submit]:focus {
	border-style: inset;
}
/* for input validation */
label.error, input.error {
	color: #f00;
	font-weight: bold;
	border-color: #f00;
}
label.error {
	clear: both;
	width: 100%;
}
label.error:after {
	content:'';
}


li.ui-timepickr {
	margin:0;
	padding:0;
}
