#navigation {
	height: 40px;
	border: 5px solid #eeeeee;
	font-size: 12px;
}
#navigation > ul {
	height: 37px;
	border: 1px solid #dddddd;
	background-color: #f6f6f6;
	padding: 0px;
	margin:0;
	list-style-type: none;
}
#navigation > ul > li {
	border-right: 1px solid #dddddd;
	float: left;
	margin: 0;
	height: 37px;
}
#navigation > ul > li > a {
	display: block;
	color: #646464;
	font-weight: bold;
	height: 37px;
	line-height: 37px;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
}
#logout {
	float: right !important;
	border-right: none !important;
	border-left: 1px solid #dddddd;
}
#navigation > ul > li#logout > a {
	color: #9C4E4E;
}
#navigation > ul > li > a:hover {
	background-color: #fdfcf6;
}
#navigation > ul > li > a.active {
	background: #e6e6e6 url(../img/top-menu-item-bg.gif) repeat-x left top;
	color:#4d4d4d;
	border-left: 1px solid #E0C8C8;
	border-right: 1px solid #E0C8C8;
}

