@import "reset.css";
@import "text.css";
@import "default.css";
@import "content.css";
@import "navigation.css";
@import "table.css";
@import "form.css";
@import "seas-calendar.css";
@import "seas-schedule.css";

body {
	background: #fff;
	font-size: 12pt;
	line-height: 14pt;
	font-family: Georgia, "Times New Roman", Times, serif;
}
a:link,
a:visited {
	color: #520;
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
}
thead {
	display: table-header-group;
}
tr {
	page-break-inside: avoid;
}
#main {
	margin-top: 28pt;
}
#navigation {
	font-size: 75%;
}
#content {
	color: #000;
	overflow: visible;
}

#content a:link:after,
#content a:visited:after {
 content: " <" attr(href) "> ";
 font-size: 6pt;
}

#availability {
	page-break-before: always;
}
#availability:after {
	content: "Note: The table above uses background color to display availability information. If you are unable to discern from the print out, then please check your browser settings and reprint.";
	color: #777;
	font-size: 8pt;
	margin-left: 14pt;
	display: block;
}
