/*
 * =CALENDAR
 */
#seas-calendar table {
	border-collapse: collapse;
	width: 100%;
}
#seas-calendar table caption {
	font-size: 2em;
}
#seas-calendar col {
	background-color: inherit;
	width: 90px;
	border-right:1px solid #000;
	border-left:1px solid #000;
}
#seas-calendar tr {
	background-color: inherit;
}
#seas-calendar td {
	height: 90px;
}
#seas-calendar td > div.day {
	width: 100%;
	height: 12px;
	font-size: 10px;
	vertical-align: middle;
	color: #ccc;
	margin: 0;
	padding: 3px 0;
	text-align: right;
	background-color: #333;
}
#seas-calendar td > ul.detail {
	color: #000;
	list-style-type: none;
}

#seas-calendar td > ul.detail li{
	margin:0;
	padding:0;
}
#seas-calendar col.Sat,
#seas-calendar col.Sun {
	background-color: #ededed;
}
#seas-calendar td.today {
	background-color: #efd538;
	font-weight: bold;
}

#seas-calendar span.timefield {
	display:none;
}
