table {
	border: 1px solid #dddddd;
	width: 95%;
	margin:1em auto;
}
th {
	text-align: center;
	color: #e6e6e6;
	background-color: #4d4d4d;
}
tr {
	background-color: #f6f6f6;
}
tr.even {
	background-color: #e6e6e6;
}
td {
	border: 1px solid #dddddd;
	padding: 3px;
}
tr:hover {
	background-color: #fdfcf6; 
}
tbody > tr > th {
	background-color: #3a3a3a;
}
.sort {
	width: 2em;
}
td > a:link,td > a:visited{
	display:block;
	padding:1em;
}
