/* The following rule is necessary to have all slides appear in print! DO NOT REMOVE IT! */
.slide, ul {page-break-inside: avoid; visibility: visible !important;}
h1 {page-break-after: avoid;}

body {font-size: 12pt; background: white;}
* {color: black;}

#slide0 h1 {font-size: 200%; border: none; margin: 0.5em 0 0.25em;}
#slide0 h3 {margin: 0; padding: 0;}
#slide0 h4 {margin: 0 0 0.5em; padding: 0;}
#slide0 {margin-bottom: 3em;}

h1 {border-top: 2pt solid gray; border-bottom: 1px dotted silver;}
.extra {background: transparent !important;}
div.extra, pre.extra, .example {font-size: 10pt; color: #333;}
ul.extra a {font-weight: bold;}
p.example {display: none;}

#header {display: none;}
#footer h1 {margin: 0; border-bottom: 1px solid; color: gray; font-style: italic;}
#footer h2, #controls {display: none;}

/* The following rule keeps the layout stuff out of print.  Remove at your own risk! */
.layout, .layout * {display: none !important;}

/*
 * =CUSTOM
 */
body,p {
	line-height: 12pt;
	font-size:12pt;
	font-family:"Times New Roman",Georgia,Serif;
}

@font-face {
	font-family: "Gentium";
	src: url("./GenR102.TTF");
	font-weight: normal;
}

* {
	font-size:12pt;
}
a:link,
a:visited {
	color: #520;
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
}
a:link:after,
a:visited:after {
 content: " [" attr(title) "] <" attr(href) "> ";
 font-size: 10pt;
}

.slide h1 {
	font-size: 16pt;
	padding: 3pt 0;
	font-family:"Gentium","Times New Roman",Georgia,Serif;
}
.slide h2 {
	font-size: 14pt;
	font-family:"Gentium","Times New Roman",Georgia,Serif;
}
.slide h3 {
	font-size: 12pt;
	font-family:"Gentium","Times New Roman",Georgia,Serif;
}
.slide h4 {
	font-size: 10pt;
	font-family:"Gentium","Times New Roman",Georgia,Serif;
}

.cover {
	text-align: center;
}
.cover h1 {
	font-size: 64pt !important;
	line-height: 64pt;
}
.cover h2 {
	font-size: 52pt !important;
	line-height: 52pt;
}
.slide img{
	width:100%;
}
.handout {
	border-top: 1pt solid #808080;
	font-size: 12pt;
}
.slide,.appendix {
	page-break-after: always;
}
.appendix img {
	width: 100%;
	margin-top: -16pt;
}
.appendix h1 {
	margin: 0;
	z-index: 100;
	page-break-after: avoid;
}
.noprint {
	display: none !important;
}
.noshow {
	display: block;
}

dl dt {
	color: #00a;
	font-weight: bold;
	text-transform: lowercase;
}
dl dt:after {
	content: ": "
}

.newwindow {
	padding-right: 18px;
	background: transparent url(ui/default/icon_popup.gif) no-repeat center right;
}
.big * {
	font-size: 200%;
	line-height: 24pt;
}
